$black-primary:#232323;
$gray_primary:#e8e8e8;
$green-primary:#13c89c;
$pink-primary:#ffe8e8;
$red-primary:#ef6454;
$white:#fff;
$yellow-primary-second:#ffbb49;
$yellow-primary:#fff100;
$blue-primary:#4b6cc0;

